<div class="container">
    <div class="right-login">
        <mat-card class="card-login">
            <mat-card-title>Funciones del usuario</mat-card-title>
            <mat-card-content class="card-login-content">
            </mat-card-content>
            <mat-card-actions class="card-login-actions management-btn">
                <button mat-raised-button class="act-btn">Mantenimiento de Requerimiento de archivos (CRUD)</button>
                <button mat-raised-button class="act-btn">Formularios Enviados</button>    
                <button mat-raised-button class="btn-primary act-btn" (click) = "logout()">Cerrar Sesion</button>   
            </mat-card-actions>
        </mat-card>

    </div>
</div>