<div class="back-image">
    <div class="info">
        <h1 class="sub-title-hero">VISION</h1>

        <p class="paragraph-hero">Ejercer y promover una fiscalización ambiental efectivo que armonice el <br>
            ejercicio de las actividades economicas con la proteccion del ambiente y el <br>
            desarrollo sostenible, en benenficio de la sociedad presente y futura.
        </p>
    
        <h1 class="sub-title-hero">MISION</h1>
    
        <p class="paragraph-hero">El OEFA garantiza que las actividades económicas se desarrollen en el país <br>
            en equilibrio con el derecho de las personas a gozar de un ambiente sano.
        </p>
    
        <h1 class="sub-title-hero">VALORES</h1>
    </div>
    
</div>