<div class="agreement-container">
    <div class="info">
        <h1 class="agreement-title">PASOS PARA ENVIO DE PROFORMA</h1>
        <span>Si deseas ser proveedor del Organismo de Evaluación y Fiscalización Ambiental, sigue las indicaciones paso a
            paso.</span>
        <h2 class="agreement-subtitle">Paso 1</h2>
        <span>Ingrese a la sección “Categorías”, donde podrá visualizar las categorías y productos que son requeridos
            actualmente.</span>
        <h2 class="agreement-subtitle">Paso 2</h2>
        <span>Verifique que el producto que desea proveer se encuentre en la lista. </span>
        <h2 class="agreement-subtitle">Paso 3</h2>
        <span>Verifique que posea los datos necesarios para el registro de datos como Proveedor: <br> DNI, Razón social de
            la empresa, RUC, correo corporativo y número de contacto.</span>
        <h2 class="agreement-subtitle">Paso 4</h2>
        <span>Verifique que posea los datos requeridos para el envio de proforma: <br> Categoría del producto, nombre del
            producto, caracteristicas del producto, precio del producto, tiempo de <br> garantía en días, tiempo de entrega en
            días.</span>
        <h2 class="agreement-subtitle">Paso 5</h2>
        <span>Regístrese dando clic en el siguiente botón. </span>
        <div class="agreement-btn-container">
            <button mat-raised-button class="btn-primary btn-sigin"(click)="singIn()">Enviar proforma</button>
        </div>
    </div>
</div>